<!-- <header>
      <nav>
        <img src="/imgs/logo.png" alt="logo" class="header-menu"> esto tendria que ser el icono hamburguesa
        <div class="header-menu">icono-hamburguesa</div>

        <div class="navbar-left">
          <img src="/imgs/logo.png" alt="logo" class="header-logo" />

          <ul>
            <li>
              <a href="http://localhost:3010/">Home</a>
            </li>
            <li>
              <a href="http://localhost:3010/login">Login</a>
            </li>
            <li>
              <a href="http://localhost:3010/signin">SignIn</a>
            </li>
            <li>
              <a href="http://localhost:3010/membership">Memberships</a>
            </li>
          </ul>
        </div>

        <div class="navbar-right">
          <ul>
            <a href="http://localhost:3010/carrito"></a>
            <li class="navbar-shopping-cart">
            
              <p>shop</p>
              <div>1</div>
            </li>
          </ul>
        </div>
      </nav>
    </header> -->
    <header>
        <section class="header-icons-container">
          <div class="icons">
            <a href="http://localhost:3010/">Home</a>
            <a href="http://localhost:3010/login">Login</a>
            <a href="http://localhost:3010/signin">SignIN</a>
            <a href="http://localhost:3010/membership">Memberships</a>
          </div>
        </section>
        <nav>
          <section class="nav-logo-container">
            <a href="/">
              <img src="/imgs/logo.png" alt="logo" class="header-logo" />
            </a>
          </section>
          <section class="carrito-link">
            <a href="http://localhost:3010/carrito.ejs">Shopp</a>
            <a href="http://localhost:3010/carrito.ejs">My plans</a>
          </section>
        </nav>
      </header>