
    <header>
        <section class="header-icons-container">
          <div class="icons">
            <a href="http://localhost:3010/">Home</a>
            <a href="http://localhost:3010/login">Login</a>
            <a href="http://localhost:3010/signin">SignIN</a>
            <a href="http://localhost:3010/membership">Memberships</a>
          </div>
        </section>
        <nav>
          <section class="nav-logo-container">
            <a href="/">
              <img src="/imgs/logo.png" alt="logo" class="header-logo" />
            </a>
          </section>
          <section class="carrito-link">
            <a href="http://localhost:3010/carrito.ejs">Shopp</a>
            <a href="http://localhost:3010/carrito.ejs">My plans</a>
          </section>
        </nav>
      </header>