<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">

    <!--links-->
    <%- include ("../partials/links") %>

        <title>CARRITO</title>
</head>

<body>
    <!--header-->
    <%- include ("../partials/header") %>



        <h1 class="main-title">BUY DETAILS</h1>
        <br>

        <main class="carrito-container">

            <div><img class="carrito-img" src="/imgs/office.jpg " alt=""></div>

            <div>
                <h3> office </h3>
                <p>Your private and equipped office for teams of 4 to 50 people.</p>
                <button class="btn">CHANGE MEMBERSHIP</button>
                <input class="btn" type="button" value="CHANGE MEMBERSHIP">
            </div>
            <div>
                <h2>PRICE</h2>
                <h3> 750 usd </h3>
            </div>

        </main>

        <section class="section-total">
            <h2>TOTAL 750 USD</h2>
            <button class="btn">BUY</button>
            <button class="btn">DELETE</button>
        </section>

        <!--footer-->
        <%- include ("../partials/footer") %>

</body>

</html>