<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/membership.css">
        <link rel="stylesheet" href="/css/index.css">
        
        <%- include ("../partials/links") %>




    <title>DESK</title>
</head>

<body>

    <%- include ("../partials/header") %>


    <main>
        
        <h1 class="main-title">Membership DESKTOP</h1>
        
        <div class="container">
        <div class="container-img">
            <img src="/imgs/imagen5.jpg" alt=" ">
        </div>

        <div class="container-detalle2">
            <h2>You always have your fixed desk waiting for you.</h2>
        </div>

        <div class="container-detalle">
            <h2>Included Services</h2>
            
                <li>24x7 access.</li>
                <li>Use of all shared coworking spaces, including living room, kitchen, ping pong and garden.</li>
                <li>Dedicated desk with ergonomic Haworth chair and locked storage space.</li>
                <li>Break with coffee, infusions, cookies and fruit free of charge.</li>
                <li>Terrace and internal garden available.</li>
                <li>Free hours for use of meeting rooms.</li>
                <li>Access to innovative and inspiring events.</li>
            </ul>

            <button class="btn">I want to be a member</button>

        </div>



    </div>
</main>
<%- include ("../partials/footer") %>

</body>

</html>