<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Quicksand:wght@300;500;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d181f1e1a5.js" crossorigin="anonymous"></script>
    <title>CARRITO</title>
</head>

<body>
    <header>
        <div class="header-container">


            <nav class="header-nav">

                <!-- <a href="https://discoverycoworking.herokuapp.com">HOME</a>
                <a href="https://discoverycoworking.herokuapp.com/login">LOGIN</a> -->
                <a href="https://localhost:3010/">HOME</a>
                <a href="https://localhost:3010/login">LOGIN</a>
                <a href="https://discoverycoworking.herokuapp.com/signin">SIGN IN</a>
                <a href="https:///localhost:3010/memberships">MEMBERSHIPS</a>
                <a href="https://discoverycoworking.herokuapp.com/galery">CARRITO</a>
                <a href="https://discoverycoworking.herokuapp.com/aboutus">ABOUT US</a>

                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook">Facebook</i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram">Instagram</i></a>
                <a href="https://twitter.com/"><i class="fa-brands fa-twitter">Twitter</i></a>
            </nav>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <h1 class="main-title">BUY DETAILS</h1>

    <main class="carrito-container">

        <div><img class="carrito-img" src="/imgs/imagen1.jpg" alt=""></div>

        <div>
            <h3>MEMBERSHIP OFFICE</h3>
            <p>Your private and equipped office for teams of 4 to 50 people.</p>
            <input type="button" value="DELETE">
            <input type="button" value="CHANGE MEMBERSHIP">
        </div>
        <div>
            <h2>PRICE</h2>
            <h3>750 USD</h3>
        </div>

    </main>
    
    <section class="section-total">
        <h2>TOTAL</h2>
        <input type="button" value="BUY">
    </section>











    <footer>
        <a class="footerwhatsapp" href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-3x"></i></a>
        <a class="footerface" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-3x"></i></a>
        <a class="footerinsta" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-3x"></i></a>
        <a class="footertwiter" href="https://twitter.com/"><i class="fa-brands fa-twitter fa-3x"></i></a>
    </footer>


</body>

</html>