<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/membership.css">
    <link rel="stylesheet" href="/css/index.css">

        <%- include ("./partials/links") %>

    
    <title>FLEX</title>
</head>

<body>
    <%- include ("./partials/header") %>

 <main>   
     
     <h1 class="main-title">Membership FLEX</h1>
     <div class="container">
        <div class="container-img">
            <img src="/imgs/imagen3.jpg" alt="">
        </div>

        <div class="container-detalle2">
            <h2>Shared space for mobile professionals.</h2>
        </div>

        <div class="container-detalle">
            <h2>Included Services</h2>
            
                <p>Access business days, Monday to Friday from 8:30 a.m. to 7:30 p.m.</p>
                <p>Break with coffee, infusions, cookies and fruit free of charge.</p>
                <p>Use of all shared coworking spaces, including living room, kitchen, ping pong and garden</p>
                <p>Access to innovative and inspiring events.</p>
                <p>Terrace and internal garden available.</p>
                <p>Free hours for use of meeting rooms.</p>
            

            <button class="btn">I want to be a member</button>

        </div>



    </div>
</main>
<%- include ("./partials/footer") %>

</body>

</html>