<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">

    <script src="https://kit.fontawesome.com/d181f1e1a5.js" crossorigin="anonymous"></script>

    <title>HOME</title>
</head>
<body>
    <video  src="/imgs/videoprincipal.mp4" autoplay="true" muted="true" loop="true" poster="/imgs/videoprincipal.mp4"></video>
    
    <header>

        <div class="container">
            <a href="http://localhost:3010/index"><img src="/imgs/logo.png" alt="logo" width="250px" height="75px"></a>
            <nav>
                
                <a href="http://localhost:3010/index">HOME</a>
                <a href="http://localhost:3010/login">LOGIN</a>
                <a href="http://localhost:3010/signin">SIGN IN</a>
                <a href="http://localhost:3010/memberships">MEMBERSHIPS</a>
                <a href="http://localhost:3010/galery">GALERY</a>
                <a href="http://localhost:3010/aboutus">ABOUT US</a>
                
                <i style="color: blue ;" class="fa-brands fa-facebook">Facebook</i>
                <i style="color: orange ;" class="fa-brands fa-instagram">Instagram</i>
                <i style="color:rgb(77, 77, 228)" class="fa-brands fa-twitter">Twitter</i>
            </nav>
        </div>
    </header>

    <main id="sect1">
        
        
            <h1>WELCOME AND DISCOVER A NEW WAY OF WORKING WITH DISCOVERY-COVORKING</h1>
            
        <div>
            <h2> <em> Love Your Shape to Work </em></h2>
            <P>We help companies and people to reconvert their workspaces,
                complementing with services for remote work and with free
                access to all the HITs of the city for its collaborators.</P>
        </div>
    </main> 


    <section id="sect2" class="sect">
        <h2>Sección segunda</h2>
     </section>


    <section id="sect3" class="sect">
        <h2>Sección tercera</h2>
    </section>

 


    <footer>
        <i style="color:rgb(15, 99, 15); position: fixed; right:15px; bottom:35px;"class="fa-brands fa-whatsapp fa-3x"></i>
        <i style="color: blue ;position: relative; bottom:15px;" class="fa-brands fa-facebook fa-3x"></i>
        <i style="color: orange ;position: relative; right: 150px; bottom:15px" class="fa-brands fa-instagram fa-3x"></i>
        <i style="color:rgb(77, 77, 228); position: relative; right: 500px;bottom:15px" class="fa-brands fa-twitter fa-3x"></i>
    </footer>
    
</body>
</html>