<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <%- include ("./partials/links") %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>

<body>
    
    <div class="login">
        <div class="form-container">
            <a href="https://discoverycoworking.herokuapp.com/"> <img src="../imgs/logo.png" alt="logo"
                    class="logo"></a>

            <form action="/" class="form">
                <label for="email" class="label">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email adress" required
                    class="input input-email">

                <label for="password" class="label">Password</label>
                <input type="password" name="password" id="new-password" placeholder="Password"
                    class="input input-password" required>

                <input type="submit" value="Login" class="primary-button login-button">

                <a href="/">Forgot your password?</a>
            </form>

            <button class="secondary-button signup-button">Sign up</button>
        </div>
    </div>

</body>

</html>