<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/membership.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Quicksand:wght@300;500;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d181f1e1a5.js" crossorigin="anonymous"></script>
    <title>office</title>
</head>

<body>
    <header>
        <div class="header-container">
            <a href="https://discoverycoworking.herokuapp.com/"><img src="/imgs/logo.png" alt="logo"></a>

            <nav class="header-nav">

                <!-- <a href="https://discoverycoworking.herokuapp.com">HOME</a>
                <a href="https://discoverycoworking.herokuapp.com/login">LOGIN</a> -->
                <a href="https://localhost:3010/">HOME</a>
                <a href="https://localhost:3010/login">LOGIN</a>
                <a href="https://discoverycoworking.herokuapp.com/signin">SIGN IN</a>
                <a href="https://discoverycoworking.herokuapp.com/memberships">MEMBERSHIPS</a>
                <a href="https://discoverycoworking.herokuapp.com/galery">GALERY</a>
                <a href="https://discoverycoworking.herokuapp.com/aboutus">ABOUT US</a>

                <a href="https://www.facebook.com/"><i 
                        class="fa-brands fa-facebook">Facebook</i></a>
                <a href="https://www.instagram.com/"><i 
                        class="fa-brands fa-instagram">Instagram</i></a>
                <a href="https://twitter.com/"><i 
                        class="fa-brands fa-twitter">Twitter</i></a>
            </nav>
        </div>
    </header>
    
    <main>
        <h1 class="main-title"> <%= producto.name %> </h1>
        <div class="container">
        
        <div class="container-img">
            <img src="/imgs/imagen4.jpg" alt=" ">
        </div>

        <div class="container-detalle2">
            <h2> <%= producto.details  %> </h2>
        </div>

        <div class="container-detalle">
            <h2>Included Services</h2>
            <ul>
                <% for (let i=0; i < services.length; i++) { %>
                    <li> <%= i %> </li>
                }
            </ul>
            
                
            

            <button>I want to be a member</button>

        </div>
    </div>
</main>
</body>

</html>