<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/membership.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Quicksand:wght@300;500;700&display=swap"
        rel="stylesheet">
        <%- include ("./partials/links") %>
    <script src="https://kit.fontawesome.com/d181f1e1a5.js" crossorigin="anonymous"></script>
    <title>office</title>
</head>

<body>
    <%- include ("./partials/header") %>

    
    <main>
        <h1 class="main-title">MEMBERSHIP OFFICE</h1>
        <div class="container">
        
        <div class="container-img">
            <img src="/imgs/imagen4.jpg" alt=" ">
        </div>

        <div class="container-detalle2">
            <h2>Your private and equipped office for teams of 4 to 50 people.</h2>
        </div>

        <div class="container-detalle">
            <h2>Included Services</h2>
            
                <p>24x7 access.</p>
                <p>Private and furnished offices with modern equipment including desks,
                    <br> Haworth ergonomic chair and
                    storage space.</p>
                <p>Use of all shared coworking spaces, including living room, kitchen, ping pong and garden</p>
                <p>Break with coffee, infusions, cookies and fruit free of charge.</p>
                <p>Terrace and internal garden available.</p>
                <p>Free hours for use of meeting rooms.</p>
                <p>Access to innovative and inspiring events.</p>
            

            <button>I want to be a member</button>

        </div>
    </div>
</main>
<%- include ("./partials/footer") %>

</body>

</html>