<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/membership.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Quicksand:wght@300;500;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/d181f1e1a5.js" crossorigin="anonymous"></script>
    <title>office</title>
</head>

<body>
    <header>
        <div class="containerhead">
            <a href="https://discoverycoworking.herokuapp.com/"><img src="/imgs/logo.png" alt="logo"></a>

            <nav class="headernav">

                <a href="https://discoverycoworking.herokuapp.com">HOME</a>
                <a href="https://discoverycoworking.herokuapp.com/login">LOGIN</a>
                <a href="https://discoverycoworking.herokuapp.com/signin">SIGN IN</a>
                <a href="https://discoverycoworking.herokuapp.com/memberships">MEMBERSHIPS</a>
                <a href="https://discoverycoworking.herokuapp.com/galery">GALERY</a>
                <a href="https://discoverycoworking.herokuapp.com/aboutus">ABOUT US</a>

                <a href="https://www.facebook.com/"><i style="color: blue ;"
                        class="fa-brands fa-facebook">Facebook</i></a>
                <a href="https://www.instagram.com/"><i style="color: orange ;"
                        class="fa-brands fa-instagram">Instagram</i></a>
                <a href="https://twitter.com/"><i style="color:rgb(77, 77, 228)"
                        class="fa-brands fa-twitter">Twitter</i></a>
            </nav>
        </div>
    </header>
    <h1>MEMBERSHIP OFFICE</h1>


    <div class="container">


        <div class="contenedorimg">
            <img src="/imgs/imagen1.jpg" alt=" ">
        </div>

        <div class="containerdetalle">
            <h2>Your private and equipped office for teams of 4 to 50 people.</h2>
        </div>

        <div class="containerlista">
            <h2>Included Services</h2>
            <ul>
                <li>24x7 access.</li>
                <li>Private and furnished offices with modern equipment including desks, Haworth ergonomic chair and
                    storage space.</li>
                <li>Use of all shared coworking spaces, including living room, kitchen, ping pong and garden</li>
                <li>Break with coffee, infusions, cookies and fruit free of charge.</li>
                <li>Terrace and internal garden available.</li>
                <li>Free hours for use of meeting rooms.</li>
                <li>Access to innovative and inspiring events.</li>
            </ul>

            <button>I want to be a member</button>

        </div>
    </div>
    <footer>
        <a class="footerwhatsapp" href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-3x"></i></a>
        <a class="footerface" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-3x"></i></a>
        <a class="footerinsta" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-3x"></i></a>
        <a class="footertwiter" href="https://twitter.com/"><i class="fa-brands fa-twitter fa-3x"></i></a>
    </footer>
</body>

</html>