<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS-->
    <%- include ("./partials/links") %>

    


    
    <link rel="stylesheet" href="/css/signin.css">
    <title>Sing In</title>
</head>

<body>
    
    
    <div class="login">
        <div class="form-container">
            <a href="https://discoverycoworking.herokuapp.com/"><img src="../imgs/logo.png" alt="logo" class="logo"></a>

            <h1 class="title">Sign In</h1>
            <p class="subtitle">Make an account on Discovery Coworking</p>

            <form action="/" class="form">
                <label for="name" class="label">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name" class="input input-name">
                <label for="email" class="label">Email address</label>
                <input type="email" name="email" id="email" placeholder="Enter your email adress" required
                    class="input input-email">

                <label for="password" class="label">Password</label>
                <input type="password" name="password" id="new-password" placeholder="Password"
                    class="input input-password">

                <label for="work" class="label">Work</label>
                <input type="text" name="work" id="work" placeholder="work" class="input input-work">


                <input type="submit" value="Edit" class="primary-button login-button">
            </form>
        </div>
    </div>
    
    
</body>

</html>