body {
  font-family: "lato", sans-serif;
}
main {
  min-height: 500px;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 70%;
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table li {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.table-header {
  color: black;
  margin-bottom: 20px;
  background-color: #009d71;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  margin-bottom: 5px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.col-service {
  max-height:100px;
  overflow:auto;
}
.col-1 {
  flex-basis: 20%;
}
.col-2 {
  flex-basis: 20%;
}
.col-3 {
  flex-basis: 20%;
}
.col-4 {
  flex-basis: 20%;
}
.col-5 {
  flex-basis: 20%;
}
.create {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3d8ebde1;
}
.create:hover {
  background-color: #4eb9f7e1;
}

@media all and (max-width: 767px) {
  .table-header {
    display: none;
  }
  /*.table-row{
        
      }*/
  li {
    display: block;
  }

  .col {
    display: flex;
    flex-basis: 100%;
    padding: 10px 0;
  }
  .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

/* CREATE */

#create {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-group {
  margin: 15px;
}
.custom-file {
  margin: 15px;
}

/* DETAILS */

.membershipDetails {
  max-width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:2px solid #009d71;
  padding:50px;
}
.detail{
  background-color: #4eb9f7e1;
  padding:50px;
}
.detailName {
  font-size: 24px;
  font-weight: 700;
  color: #009d71;
}
.detailId {
  font-size: 24px;
  font-weight: 700;
  color: #009d71;
}
.detailDetails{

}
/* validaciones front */
.is-valid{
  border: 6px solid #009d71;
}
.is-invalid{
  border: 2px solid rgb(231, 46, 46);
}
.erroresDeFront{
  position: absolute;
  top:10px;
  right:10px;
  margin: 10 auto;
  height:fit-content;
  background-color:rgba(255, 0, 255, 0.775);
  color:white;
  border-radius:10px;
  padding:10px;
  text-align: center;
  }