body {
  font-family: "lato", sans-serif;
}
main {
  min-height: 500px;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 90%;
  margin: auto;
  text-align: center;
}



.title{
  font-family: 'Arimo', sans-serif !important;

  font-size: 45px;
  color: rgb(51, 51, 51);
  text-decoration: underline rgb(239, 137, 47);
  text-decoration-style:double;
  text-decoration-thickness: 10%;
  letter-spacing: 3px;
  transition:  500ms;
  margin: 0px auto 60px 0;

}

.t{
  border: 2px double rgba(239, 137, 47, 0.593) !important;
}
.create{
text-align: center;
background-color:rgba(239, 137, 47, 0.593);
color: rgb(51, 51, 51);
width:fit-content;
padding:10px;
margin:10px;
}
.create a{
  text-decoration: none;
  color: rgb(51, 51, 51);
}
.create:hover{
  background-color: #2b9a1784;
}
.create:hover a{
  color: rgba(239, 137, 47, 1);

}
/* CREATE */

#create {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-group {
  margin: 15px;
}
.custom-file {
  margin: 15px;
}

/* DETAILS */

.membershipDetails {
  max-width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border:2px solid #009d71;
  padding:50px;
}
.detail{
  background-color: #4eb9f7e1;
  padding:50px;
}
.detailName {
  font-size: 24px;
  font-weight: 700;
  color: #009d71;
}
.detailId {
  font-size: 24px;
  font-weight: 700;
  color: #009d71;
}
.detailDetails{

}
/* validaciones front */
.is-valid{
  border: 6px solid #009d71;
}
.is-invalid{
  border: 2px solid rgb(231, 46, 46);
}
.erroresDeFront{
  margin: 10 auto;
  height:fit-content;
  background-color:rgba(255, 0, 255, 0.775);
  color:white;
  border-radius:10px;
  padding:10px;
  text-align: center;
  }