body {
  font-family: 'Arimo', sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  /* background-color: #9df7d6bc !important; */
  /* background: rgb(61,142,189) !important;
background: linear-gradient(180deg, rgba(61,142,189,1) 20%, rgba(112,198,202,1) 100%) !important; */
background-image: url('../imgs/bg.jpg');

}
main{
  z-index: -1000;
}

@media (max-width:950px){
  .containerSlider{
    display: none
  }
}
