body {
  font-family: 'Arimo', sans-serif !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  /* background-color: #9df7d6bc !important; */
  /* background: rgb(61,142,189) !important;
background: linear-gradient(180deg, rgba(61,142,189,1) 20%, rgba(112,198,202,1) 100%) !important; */


}


.container-btn-mode{
  position: absolute;
  top:10px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  font-size:0;
}
.btn-mode{
  display: inline-block;
  width: 50px;
  height: 30px;
  border:2px solid black;
  transition: background-color .5s;
}
.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}
.btn-mode.sun{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
}
.btn-mode.moon{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.active{
  background-color:white;
  color:#ffcd5c !important;
}

.soon-mode{
  background-color:white;
  transition:background-color .5s;
}


.dark-mode{
  background-color: #0e0e0e;
  transition:background-color .5s;
}
.dark-mode .card{
  background-color: #1A1C1E;
}
.dark-mode h1, .dark-mode h2, .dark-mode .btn-contact{
  color:white;
}
.dark-mode .btn-mode{
  background-color:#1A1C1E;
  border:1px solid white;
  color:white;
}

main{
  z-index: -1000;
}

@media (max-width:950px){
  .containerSlider{
    display: none
  }
}
