header {
    /* position: fixed; */
    width: 100%;
    border-bottom: 5px var(--color5) solid;
    background-color: var(--color3);
    z-index: 1;
    height: 80px;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-nav {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;
}

header a {
    text-decoration: none;
    text-decoration: underline 3px var(--color5);
    color: black;
}

header img {
    width: 300px;
    height: 80px;
}

.main-title {
    text-align: center;
    text-decoration: underline 3px var(--color4);
}

.section-total {
    display: flex;
    justify-content: flex-end;
}

.carrito-container {
    display: flex;
    border: 10px var(--color5) solid;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
}

.carrito-img {
    height: 200px;
    width: 400px;
}

/*boton*/
.btn {
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.btn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(170px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.btn:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.btn:hover::before,
button:focus::before {
    opacity: 1;
}




















/* FOOTER*/
footer {
    margin: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerface {
    color: blue;
    position: relative;
    bottom: 15px;
}

.footerinsta {
    color: orange;
    position: relative;
    right: 200px;
    bottom: 15px;
}

.footertwiter {
    color: rgb(77, 77, 228);
    position: relative;
    right: 400px;
    bottom: 15px;
}

.footerwhatsapp {
    color: rgb(15, 99, 15);
    position: fixed;
    right: 15px;
    bottom: 35px
}