main{
    padding-top:60px;
    height: 52vh;
  }
.main-title{
    font-family: 'Arimo', sans-serif !important;
    padding-top: 25px;
    text-align: center;
    font-size: 2rem;
    color: black;
    text-decoration: underline #4cb5ae;
  }


  .container{
    border: 2px  solid #4cb5ae;
    border-radius: 30px;
    background-color: rgb(213, 254, 249);
    padding:80px;
    width:60%;
    margin:auto;
    text-align:center;
    align-items: center;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
  }

  .container:hover{
    background-color: rgb(183, 255, 247);
  }
  .info{
    background-color: #57bd9e5e;
    padding:20px;
    border-radius: 10px;
  }
  .div-total{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color: #57bd9e5e;
    padding:20px;
    height:200px;
    border-radius: 10px;
    width:100%;
    
  }
  .name{
    font-size:2rem;
    font-weight:bold;
  }
  .price{
    font-weight:bold;
    font-size:30px;
  }
  .btn {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 900;
  
    background: linear-gradient(90deg, rgb(172, 235, 227) 0%, rgb(26, 70, 66) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }

    .btn a{
        color:black;
            font-weight: 900;
        text-decoration: none;
    }
  
  .btn:hover{
    font-weight: 700;
    border: 3px solid rgba(79,209,197,.64);
      background: white;
    color:rgb(34, 85, 80);
  }



  .purchase{
    background-color: rgb(218, 255, 250);
    color: rgb(34, 85, 80);
    width:40%;
    margin:auto;
    margin-top:100px;
    padding:50px;
    text-align: center;
    font-size: 2rem;
  }

  .shopp-container{
    text-align: center;
  }