header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
section {
  width: 95%;
  margin: auto;
  min-height: fit-content;
}
.header-icons-container {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #57bd9e;
}
.icons {
  width: 600px;
  background-color: #009d71;
  box-shadow: -39px 1px 0px -6px #3d8ebde1;
  -webkit-box-shadow: -39px 1px 0px -6px #3d8ebde1;
  -moz-box-shadow: -39px 1px 0px -6px #3d8ebde1;
  border-radius: 20px 0px 0px 20px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-around;
  justify-self: end;
    transition-duration: 1s;

}
.icons:hover{
  
  transition-duration: 1s;
  box-shadow: -200px 1px 0px -6px #3d8ebde1;
  -webkit-box-shadow: -200px 1px 00px -6px #3d8ebde1;
  -moz-box-shadow: -200px 1px 00px -6px #3d8ebde1;
}
.ef {
  display:flex;
  flex-direction: row;
  background: #57bd9e;
  color: black;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  padding: 10px;
  cursor: pointer;
  transition: 30ms ease all;
  outline: none;
}
.ef:hover {
  background: #fff;
  color: #1aab8a;
}
.ef:before,
.ef:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.ef:hover:before,
.ef:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
  border: 10px solid #009d71;
  background-color: #3d8ebde1;
}
.nav-logo-container {
  text-align: left;
}
.nav-carrito {
  display: flex;
  justify-content: space-around;
}
img {
  width: 35%;
}
