/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  nav {
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  #title{
    color:rgb(51, 51, 51);
    font-size:20px;
    font-weight: bold;
  }
  li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 20px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  a:hover {
    text-decoration: underline;
  }

    /* Mobile menu */
    .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap:15px;
    }

  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }

  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
    border-radius: 10px;
    transition:500ms;
  }
  .item.button:hover{
    transform: scale(1.1)
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  .item:focus{
    color:blue !important;
  }

  .items{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .itemAdmin{
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-size: 20px !important;
    text-transform: capitalize !important;
    padding: 15px 5px;
    white-space: nowrap;
    background-color: transparent !important;
    border: none !important;
  }
  .itemAdmin:focus{
    border: none !important;
    box-shadow: none !important;
  }

  .menuAdmin{
    background-color:rgba(239, 137, 47, 1);
  }
  .menuAdmin a{
    padding:10px;
    display: block !important;
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }

    .toggle {
      flex: 1;
      text-align: right;
      order: 2;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: white;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background: transparent;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: rgb(239, 137, 47);
      border-color: #2b9a17;
      color: #2b9a17;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 1000px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }


  .imgPerfil{
    width: 70px;
    border-radius: 50%;
    border: 2px solid rgb(239, 137, 47);
  }
  .perfil{
    
    /* display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; */
    margin:auto;
    gap:20px;
    color: rgb(51, 51, 51);
  }