:root{
    --color1:#CABAC8;
    --color2: #FF101F;
    --color3: #B2DDF7;
    --color4: #81D6E3;
    --color5: #4CB5AE;
}
header{
    width:100%;
    border-bottom: 2px black solid;
    
}

.container{
    display: flex;
    flex-direction: row;
    align-items:  center;
}

.container nav {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;
}



body {
    position: relative;
    margin: 0;
  }

  main{
    height: 400px;
    display: flex;
  }
  

  .sect {
    width: 100%;
    min-height: 500px;
  }
  #sect1,
  #sect3 {
    background-color: #3333337d;
    color: #fff;
  }
  #sect2 {
    background-color: #dddddd7d;
    color: #333;
  }
  
  video {
    position: fixed ;
    width: 100%;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }

  h1 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }
  h2 {
    margin: 0;
    padding-top: 3rem;
    padding-left: 2rem;
  }





footer{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}