:root {
  --color1: #CABAC8;
  --color2: #FF101F;
  --color3: #B2DDF7;
  --color4: #81D6E3;
  --color5: #4CB5AE;
}

header {
 position: fixed;
  width: 100%;
  border-bottom: 5px black solid;
  background-color: white;
  z-index: 1;
  height: 80px;
}

header img {
  width: 300px;
  height: 80px;
}

.containerhead {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headernav {
  display: flex;
  width: 100%;
  font-size: 20px;
  justify-content: space-around;
}


body {
  margin: 0;
}

.sect {
  width: 100%;
  min-height: 500px;
}

.containermain {
  display: flex;
  height: 500px;

}

#sect1,
#sect3 {
  background-color: #3333337d;
  color: #fff;
}

#sect2 {
  background-color: #dddddd7d;
  color: #333;
}

#sect1 {
  position: relative;
  overflow: hidden;
  display: flex;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.presentacion {
  font-size: 30px;
  text-align: center;
  width: 60%;
  display: flex;
  align-items: center;
  color: gainsboro
}

.loveyourwork {
  position: absolute;
  top: 110px;
  right: 0px;
  font-size: 25px;
  text-align: center;
  align-items: center;
  width: 40%;
}

/*SECTION2*/
.contenedorimgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px blue solid;
  height: 700px;
}

.contenedorimg {
  position: relative;
  display: inline-block;
  border: 2px red solid;
  width: 24.6%;

}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.texto-encima {
  font-size: 25px;
  color: red;
  position: absolute;
  top: 80%
}

.precio {
  color: red;
  font-size: 20px;
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.btn {
  color: red;
  font-size: 20px;
  position: absolute;
  top: 97%;
  left: 40%;
  transform: translate(-50%, -50%);
}

/*SECTION3*/


.comentarios{
  margin: auto;
  background-color: white;
  width: 400px;
  padding: 30px;
  color: red
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 400px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*va a mostrar primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: blue;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}




/* FOOTER*/
footer {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerface {
  color: blue;
  position: relative;
  bottom: 15px;
}

.footerinsta {
  color: orange;
  position: relative;
  right: 200px;
  bottom: 15px;
}

.footertwiter {
  color: rgb(77, 77, 228);
  position: relative;
  right: 400px;
  bottom: 15px;
}

.footerwhatsapp {
  color: rgb(15, 99, 15);
  position: fixed;
  right: 15px;
  bottom: 35px
}