main{
  padding-top:60px;
  height: 52vh;
}
.main-title{
  font-family: 'Arimo', sans-serif !important;
  padding-top: 25px;
  text-align: center;
  font-size: 2rem;
  color: black;
  text-decoration: underline #4cb5ae;
};
img{
  width:150% !important;
}
.container{
  border: 2px  solid #4cb5ae;
  border-radius: 30px;
  background-color: rgb(213, 254, 249);
  padding:80px;
  width:60%;
  margin:auto;
  text-align:center;
  align-items: center;
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
}

.container:hover{
  background-color: rgb(183, 255, 247);
}

.detalle{
  color: black;
}
.price{
  font-weight:bold;
  font-size:30px;
}
/*boton*/
.btn {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 900;
  color: #313133;
  background: linear-gradient(90deg, rgba(23, 228, 201, 0.559) 0%, #3d8ebde1 50%,rgba(23, 228, 201, 0.559)  100% );
  border-radius: 10px;
  border: 1px solid #3d8ebde1;
  padding: 10px;
  }

.btn:hover{
  border-radius: 40px;
  background: linear-gradient(90deg, rgb(23, 228, 201) 0%, #ffffff66 50%,rgb(23, 228, 201) 100% );
  border: 1px solid #ffffff66;
}