main{
  /* padding-top:60px;
  height: 52vh; */
}
.title{
  font-family: 'Arimo', sans-serif !important;
  padding-top: 45px;
  text-align: center;
  font-size: 45px;
  color: rgb(51, 51, 51);
  text-decoration: underline rgb(51, 51, 51);
  text-decoration-style: double;
  text-decoration-thickness: 25%;
  letter-spacing: 3px;
}

.container{
  border: 2px  solid #4cb5ae;
  color:white;
  border-radius: 30px;
  background-color: rgba(0, 128, 128, 0.502);
  margin:auto;
  margin-top:50px;
  width:60%;
  height:fit-content;
  text-align:center;
  align-items: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
}

.container:hover{
  background-color: rgb(183, 255, 247);
  color:black;
}
.containerOne{
display:flex;
flex-direction:row;
justify-content:center;
text-align:center;
align-items: center;
padding:30px;
flex-wrap: wrap;
gap:50px;
}
.containerTwo{
  display:flex;
  flex-direction: row;
  justify-content:center;
  gap:50px;
}
.container-img img{
  flex:2;
  border-radius: 50%;
}

.detalle{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex:2;

}
.servicios{
  flex:4;
}
.divTitle{
  margin-bottom: 20px;
  font-size:24px;
  text-decoration: underline rgba(0, 128, 128, 0.502);
  text-decoration-thickness: 25%;
  letter-spacing: 3px;
}
.price{
  font-weight:bold;
  font-size:30px;
}
/*boton*/
.btn {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 900;
  color: #313133;
  background: linear-gradient(90deg, rgba(23, 228, 201, 0.559) 0%, #3d8ebde1 50%,rgba(23, 228, 201, 0.559)  100% );
  border-radius: 10px;
  border: 1px solid #3d8ebde1;
  padding: 10px;
  margin-bottom:15px;
  }

.btn:hover{
  border-radius: 40px;
  background: linear-gradient(90deg, rgb(23, 228, 201) 0%, #ffffff66 50%,rgb(23, 228, 201) 100% );
  border: 1px solid #ffffff66;
}