.title{
  font-family: 'Arimo', sans-serif !important;
  padding-top: 25px;
  text-align: center;
  font-size: 45px;
  color: black;
  text-decoration: underline #4cb5ae;
}
.products-container {
  display:flex;
  justify-content: space-around;
  /*display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 40px;
  place-content: center;*/
}

.product-card {
  width: fit-content;
  transition: 500ms;
}

.product-card:hover {
  transform: scale(1.2);
}

.product-card img {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  color: black;
}

.product-precio {
  font-weight: bold;
  font-size: var(--md);
}

.product-name {
  font-size: var(--lg);
}

/*boton*/
.btn {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 900;
  color: #313133;
  background: linear-gradient(90deg, rgb(172, 235, 227) 0%, rgb(26, 70, 66) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.btn:hover{
  font-weight: 700;
  border: 3px solid rgba(79,209,197,.64);
    background: white;
  color:black;
}

