:root {
    --color1: #CABAC8;
    --color2: #FF101F;
    --color3: #B2DDF7;
    --color4: #81D6E3;
    --color5: #4CB5AE;
  }
  body{
    background-color: #4cb5ae79;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding:0;
  }
  header {
    /* position: fixed; */
    width: 100%;
    border-bottom: 5px var(--color5) solid;
    background-color: var(--color3);
    z-index: 1;
    height: 80px;
  }
  .header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-nav {
    display: flex;
    width: 100%;
    font-size: 20px;
    justify-content: space-around;
  }
  header a{
    
    text-decoration: underline 3px var(--color5);
    color: black;
  }
  
  header img {
    width: 300px;
    height: 80px;
  }

.main-title{
    text-align: center;
    text-decoration: underline 3px var(--color4);
}

.container {
display:flex; 
flex-direction: column;

   width: 100%;
    height: 100%;
}

.container-img {
    margin: 0 auto;
    width: 80%;
    height: 30%;
    object-fit: cover;
}

.container-img img {
    position: relative;
    margin:auto;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 10%;
    border-radius:30px;
}
.container-detalle {
    padding:5px;
    background-color: #cabac8d2;
    position: absolute;
    width: fit-content;
    height: fit-content;
    text-align: center;
    top: 80%;
    left: 40%;
    border-radius: 30px;
}

.container-detalle2 {
    position: relative;
    text-align: center;
}

.containerdetalle h2 {
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 18%;
}




.containerlista h2 {
    font-size: 40px;
    text-align: center;
}

.containerlista li {
    font-size: 20px;
}

.containerlista button {
    position: absolute;
    bottom: 10%;
    right: 35%;
    left: 35%;
    border-radius: 15px;
}



footer {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerface {
    color: blue;
    position: relative;
    bottom: 15px;
}

.footerinsta {
    color: orange;
    position: relative;
    right: 200px;
    bottom: 15px;
}

.footertwiter {
    color: rgb(77, 77, 228);
    position: relative;
    right: 400px;
    bottom: 15px;
}

.footerwhatsapp {
    color: rgb(15, 99, 15);
    position: fixed;
    right: 15px;
    bottom: 35px
}