main{
  padding-top:60px;
  height: 52vh;
}
.main-title{
  font-family: 'Arimo', sans-serif !important;
  padding-top: 25px;
  text-align: center;
  font-size: 2rem;
  color: black;
  text-decoration: underline #4cb5ae;
};
img{
  width:150% !important;
}
.container{
  border: 2px  solid #4cb5ae;
  border-radius: 30px;
  background-color: rgb(213, 254, 249);
  padding:80px;
  width:60%;
  margin:auto;
  text-align:center;
  align-items: center;
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  gap:30px;
}

.container:hover{
  background-color: rgb(183, 255, 247);
}

.detalle{
  color: black;
}
.price{
  font-weight:bold;
  font-size:30px;
}
.btn {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 900;
  color: #313133;
  background: linear-gradient(90deg, rgb(172, 235, 227) 0%, rgb(26, 70, 66) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.btn:hover{
  font-weight: 700;
  border: 3px solid rgba(79,209,197,.64);
    background: white;
  color:rgb(34, 85, 80);
}

@media (width< 900px) {

}