<link rel="stylesheet" href="/css/footer.css">
<footer>
    <a class="footerwhatsapp" href="https://www.whatsapp.com/"
      ><i class="fa-brands fa-whatsapp fa-3x"></i
    ></a>
    <a id="face" href="https://www.facebook.com/"
      ><i class="fa-brands fa-facebook fa-3x"></i
    ></a>
    <a id="insta" href="https://www.instagram.com/"
      ><i class="fa-brands fa-instagram fa-3x"></i
    ></a>
    <a id="tweet" href="https://twitter.com/"
      ><i class="fa-brands fa-twitter fa-3x"></i
    ></a>
  </footer>