<link rel="stylesheet" href="/css/footer.css">


<footer>

  <div class="items">
    <span>
      <a href="http://localhost:3010/">HOME</a>
      
    </span>
    <span>
      <a href="http://localhost:3010/memberships">SERVICE</a>
      
    </span>
    <span>
      <a href="http://localhost:3010/contactus">Contact Us</a>
      
    </span>
  </div>

  <figure class="aboutus">
    <h2>About Us</h2>
    <img src="/imgs/logo.png" alt="logo" class="header-logo" />
    <figcaption>Discovery Coworking</figcaption>
    <p>We are a company that is dedicated to helping each person or company find their place in order to perform their tasks in the best possible way.
      We started this project after meeting in a course at Digital House</p>
  </figure>

  <div class="icons-redes">
    <a class="footerwhatsapp" href="https://www.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-3x"></i></a>
    <a id="face" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-3x"></i></a>
    <a id="insta" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-3x"></i></a>
    <a id="tweet" href="https://twitter.com/"><i class="fa-brands fa-twitter fa-3x"></i></a>
    <a id="github" href="https://github.com/Canziani14/discoverycoworking"><i
        class="fa-brands fa-github-square fa-3x"></i></a>
  </div>
 

  <p>Discovery Coworking © 2022</p>
</footer>