<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <!--header-->
    <%- include ("../partials/header") %>

        <main >
         <div class="purchase">Message sent </div>
        </main>



        <!--footer-->
        <%- include ("../partials/footer") %>

</body>

</html>