<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/links") %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Contact Us</title>
</head>
<body>
    <div class="login">
        <div class="form-container">
            <a href="/"><img src="../imgs/logo.png" alt="logo" class="logo"></a>

            <h1 class="title">Contact Us</h1>
            <p class="subtitle">contact us for better advice</p>

            <form 
             action="/contactus"
            class="form"
            method="POST">
                <label for="name" class="label">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name"
                    class="input input-email" value="">
                
                <label for="email" class="label" name="email">Email address</label>
                <input type="email" name="email" id="email" placeholder="Enter your email adress"
                    class="input input-email" value="">

                <label for="textarea" class="label">Comments</label>
                <input class="input input-email" type="textarea" name="comments" id="comments" 
                value="">



                <input type="submit" value="Send" class="primary-button login-button">
            </form>
        </div>
    </div>
    <%- include ("../partials/footer") %>


</body>
</html>
