<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ("../partials/links") %>
    <link rel="stylesheet" href="/css/edit-account.css">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="form-container">
            <a href="http://localhost:3010/"><img src="../imgs/logo.png" alt="logo" class="logo"></a>

            <h1 class="title">Contact Us</h1>
            <p class="subtitle">contact us for better advice</p>

            <form action="/" class="form" method="POST" enctype="multipart/form-data">
                <label for="name" class="label">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name" class="input input-name">
                <label for="email" class="label">Email address</label>
                <input type="email" name="email" id="email" placeholder="Enter your email adress" required
                    class="input input-email">

                <label for="textarea" class="label">Comments</label>
                <input class="input input-email" type="textarea" name="" id="">



                <input type="submit" value="Send" class="primary-button login-button">
            </form>
        </div>
    </div>
    <%- include ("../partials/footer") %>


</body>
</html>
