<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <div class="login">
      <div class="form-container">
        <a href="/"> <img src="../imgs/logo.png" alt="logo" class="logo" /></a>
        <div>
          <ul id="errores"> </ul>
        </div>

        <form action="/login" method="post" class="form" id="form">
  
          <label for="email" class="label">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            required
            class="input input-email"
            value=""
          />
          <% if(typeof(errors) != 'undefined'){%>
            <span class="text-danger">
              <%= errors[0].msg %>
            </span>
         <%}%>

          <label for="password" class="label">Password</label>
          <input
            type="password"
            name="password"
            id="new-password"
            placeholder="Password"
            class="input input-password"
            required
          />
          <span class="input-group-text" id="eye"><i class="fas fa-eye-slash"></i></span>
          <% if(typeof(errors) != 'undefined' ){%>
            <span class="text-danger">
              <%= errors[0].msg %>
            </span>
         <%}%>
          <div>
            <input type="checkbox" name="recordarme" id="remember_me" /><label
              class="checkbox-inline">
              Remember me</label
            >
          </div>

          <button type="submit" class="btn btn btn-info">Ingresar</button>

          <a href="/">Forgot your password?</a>
        </form>


        <button class="secondary-button signup-button"><a  href="/signin">Sign up</a></button>
      </div>
    </div>
    <script src="../../js/login.js"></script>
  </body>
</html>
