<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
  
    <div class="login">

      <div class="form-container">

        <a href="/"> <h2 class="title">Discovery Coworking </h2></a>
      
        <div  id="erroresFront" class="erroresDeFront">
          
        </div>
        <div class="errores">
          <% if(typeof(errors) != 'undefined'){%>
            <p class="text-danger">
              <%= errors[0].msg %>
            </p>
            <%}%>
        </div>

        <form action="/login" method="post" class="form" id="form">

            <label for="email" class="label">Email</label>
            <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            class="input input-email"
            value=""
            />
     

                <label for="password" class="label">Password</label>
                <input
                type="password"
                name="password"
                id="new-password"
                placeholder="Password"
                class="input input-password"
                
                />

       
          <div>
            <input type="checkbox" name="recordarme" id="remember_me" /><label
              class="checkbox-inline">
              Remember me</label
            >
          </div>

          <button type="submit" class="secondary-button signup-button">Ingresar</button>

          <a href="/">Forgot your password?</a>
        </form>


        <button class="secondary-button signup-button"><a  href="./signin">Sign up</a></button>
      </div>
    </div>
    <script src="./js/login.js"></script>
  </body>
</html>
