<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    
</head>
<body>
    <%- include("../partials/header") %>

    <h1>ERROR DE PERMISOS</h1>
    <h2>NO TIENE PERMISOS SUFICIENTES PARA ACCEDER </h2>


    <%- include("../partials/footer") %>
</body>
</html>