<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    
</head>
<body>
    <%- include("../partials/header") %>
<main>

    <div class="not">¡Access DENIED!</div>
    <button ><a href="/login"> ¡Login!</a></button>
</main>


    <%- include("../partials/footer") %>
</body>
</html>