<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <!--header-->
    <%- include ("../partials/header") %>

        <main class="carrito-container">

<figure class="shopp">
    <img class="imgShopp" src="imgs/carritoVacio.png" alt="">
    <figcaption>You haven't entered any membership yet</figcaption>
    <a href="/memberships"> <button class="btn"> Please select a membership  </button> </a>
</figure>


           
            
        </main>



        <!--footer-->
        <%- include ("../partials/footer") %>

</body>

</html>