<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <!--header-->
    <%- include ("../partials/header") %>

        <main >
         <div class="purchase">You bought the <%= newMembership.name %> membership</div>
        </main>



        <!--footer-->
        <%- include ("../partials/footer") %>

</body>

</html>