<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <!--header-->
    <%- include ("../partials/header") %>

        <main class="carrito-container">
            <figure>

                
            </figure>
            <figure class="shopp">
                <img class="imgShopp" src="imgs/toBuy.jpg" alt="">
            
                <a href="/"> <button class="btn"> Thanks for your purchase  </button> </a>
            
            </figure>

           
            
        </main>



        <!--footer-->
        <%- include ("../partials/footer") %>

</body>

</html>