<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    
</head>
<body>
   

    <h1>User List</h1>

    <ul>
        <% for( let i = 0; i < users.length; i++ ) { %>
            <li>
                <%= users[i].id_users + " - " + users[i].userName + " con Email: " +
                 users[i].userEmail + ", tiene la membresia " + users[i].id_membership +
                 " y con categoria "+ users[i].id_category %> 
            </li>
        <% } %>
    </ul>
    
</body>
</html>